In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-03-05 10:48:53,-33.6500,115.3333,72.00,86,19,1.99
1,1,Mahebourg,MU,2021-03-05 10:48:54,-20.4081,57.7000,82.40,74,75,11.50
2,2,Richards Bay,ZA,2021-03-05 10:46:15,-28.7830,32.0377,79.41,72,29,10.45
3,3,Kamenka,RU,2021-03-05 10:48:56,51.3223,42.7678,35.01,84,100,9.62
4,4,Hamilton,US,2021-03-05 10:48:56,39.1834,-84.5333,26.60,74,1,5.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating=False,max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 35
What is the maximum temperature you would like for your trip? 69

In [10]:
preferred_cities_df= city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"]>= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kamenka,RU,2021-03-05 10:48:56,51.3223,42.7678,35.01,84,100,9.62
7,7,Veverska Bityska,CZ,2021-03-05 10:49:02,49.2759,16.4369,41.00,90,92,10.31
12,12,Ribeira Grande,PT,2021-03-05 10:49:30,38.5167,-28.7000,59.00,77,20,11.50
16,16,Punta Arenas,CL,2021-03-05 10:49:53,-53.1500,-70.9167,53.60,62,0,6.91
18,18,Vincennes,FR,2021-03-05 10:49:59,48.8500,2.4333,41.00,56,90,16.11
22,22,Lagoa,PT,2021-03-05 10:50:08,39.0500,-27.9833,56.89,69,74,10.60
30,30,Ratingen,DE,2021-03-05 10:52:16,51.2972,6.8493,39.99,56,20,11.50
31,31,San Cristobal,VE,2021-03-05 10:52:22,7.7669,-72.2250,64.72,90,68,0.92
33,33,Ponta Do Sol,PT,2021-03-05 10:53:49,32.6667,-17.1000,63.00,65,31,4.00
37,37,Prudentopolis,BR,2021-03-05 10:53:54,-25.2131,-50.9778,67.39,97,100,3.87

In [11]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [12]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat      Lng Hotel Name
3            Kamenka      RU     35.01  51.3223  42.7678
7   Veverska Bityska      CZ     41.00  49.2759  16.4369
12    Ribeira Grande      PT     59.00  38.5167 -28.7000
16      Punta Arenas      CL     53.60 -53.1500 -70.9167
18         Vincennes      FR     41.00  48.8500   2.4333
22             Lagoa      PT     56.89  39.0500 -27.9833
30          Ratingen      DE     39.99  51.2972   6.8493
31     San Cristobal      VE     64.72   7.7669 -72.2250
33      Ponta Do Sol      PT     63.00  32.6667 -17.1000
37     Prudentopolis      BR     67.39 -25.2131 -50.9778

In [13]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location":""}
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kamenka,RU,35.01,51.3223,42.7678,
7,Veverska Bityska,CZ,41.00,49.2759,16.4369,Penzion Pod Horkou
12,Ribeira Grande,PT,59.00,38.5167,-28.7000,Quinta da Meia Eira
16,Punta Arenas,CL,53.60,-53.1500,-70.9167,Hotel Dreams Del Estrecho
18,Vincennes,FR,41.00,48.8500,2.4333,Aparthotel Adagio Paris Vincennes
...,...,...,...,...,...,...
532,Shache,CN,60.64,38.4167,77.2406,Delong Hotel
538,Bardiyah,LY,63.34,31.7561,25.0865,بورتو بردية
542,Kunovice,CZ,37.99,49.0450,17.4701,Hotel GRAND
550,Kogon,UZ,59.00,39.7228,64.5517,"""AFROSIYOB"" HOSTEL"
553,Bayji,IQ,65.73,34.9311,43.4870,قريه جديده

In [14]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd>
</dl>
"""

In [17]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))